<div id="filter-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body" data-bind="with: grids[tarGrid()]">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th>
                Column
              </th>
              <th>
                Type
              </th>
              <th>
                Term
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody data-bind="foreach: filters">
            <tr data-bind="attr: {
              'index': $index
            }">
              <td style="vertical-align: middle;">
                <button class="btn btn-xs btn-primary remove-filter"><i class="fa fa-minus fa-lg"></i></button>
              </td>
              <td>
                <select class="form-control filter-column" data-bind="options: $parent.header,
                  optionsText: 'title',
                  optionsValue: 'col_name',
                  optionsCaption: 'Select A Column...',
                  value: column"></select>
              </td>
              <td>
                <select class="form-control filter-type" 
                  data-bind="options: methods,
                  value: typeR
                  "></select>
              </td>
              <td>
                <input type="text" class="form-control filter-term" placeholder="Term..." data-bind="value: term">
              </td>
              <td style="vertical-align: middle;">
                <button class="btn btn-xs btn-primary add-filter-next"><i class="fa fa-plus fa-lg"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary add-filter">Add A Filter <i class="fa fa-plus fa-lg"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="pull-left btn btn-danger filters-reset">Reset Filters <i class="fa fa-refresh fa-lg"></i></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary filters-update">Update Filters <i class="fa fa-filter fa-lg"></i></button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>